<?php TPL::output('m/header.tpl.htm'); ?>


<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod aw-mod-invite-friend">
                        <div class="mod-head common-head">
                            <h2>
                                <?php _e('24小时功课榜表'); ?>
                                <a href="m/lessonadd/" class="pull-right btn btn-mini btn-success btn-normal">报功课</a>
                            </h2>
                        </div>

                        <div class="mod-body aw-side-bar">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>诵经</th>
                                    <th>忏悔</th>
                                    <th>念佛</th>
                                    <th>阅藏</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($this->lessons as $k => $lesson) { ?>
                                <tr>
                                    <td><?=$lesson['user_name']?></td>
                                    <td><?=$lesson['songjing']?></td>
                                    <td><?=$lesson['chanhui']?></td>
                                    <td><?=$lesson['nianfo']?></td>
                                    <td><?=$lesson['yuezangjingshu'] . ":" . $lesson['yuezangpinshu'] ?></td>
                                </tr>
                                <?php } ?>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<?php TPL::output('m/footer.tpl.htm'); ?>