<?php TPL::output('global/header.tpl.htm'); ?>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/echarts.common.min.js"></script>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod aw-mod-invite-friend">
                        <div class="mod-head common-head">
                            <h2>
                                <?php _e('金鸡报晓功课'); ?>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <div id="main" style="width: 600px;height:400px;"></div>
                            <div>*念佛数以千声为单位</div>
                            <script type="text/javascript">
                                var lessons = <?php echo $this->lessons; ?>;
                                var songjing = [];
                                var nianfo = [];
                                var chanhui = [],
                                        date,
                                        _;
                                for (var i in lessons) {
                                    date = new Date(lessons[i]['date']);
                                    _ = {
                                        name: date.toString(),
                                        value: [
                                            [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('/'),
                                            lessons[i]['songjing']
                                        ]
                                    };
                                    songjing.push(_);

                                    _ = {
                                        name: date.toString(),
                                        value: [
                                            [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('/'),
                                            lessons[i]['nianfo']
                                        ]
                                    };
                                    nianfo.push(_);

                                    _ = {
                                        name: date.toString(),
                                        value: [
                                            [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('/'),
                                            lessons[i]['chanhui']
                                        ]
                                    };
                                    chanhui.push(_);
                                }
                            </script>
                            <script type="text/javascript">

                                // 基于准备好的dom，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('main'));

                                // 指定图表的配置项和数据
                                var option = {
                                    title: {
                                        text: ''
                                    },
                                    legend: {
                                        data:['诵经','念佛', '忏悔']
                                    },
                                    tooltip: {
                                        show : true,
                                        trigger: 'item',
                                        formatter: '{a}:{c}',
// function (params) {
//                                            params = params[0];
//
//                                            var date = new Date(params.name);
//                                            return date.getMonth() + '月' + (date.getDate() + 1) + '日'  + '  ' + params.seriesName + ":"  + params.value[1];
//                                        },
                                        axisPointer: {
                                            animation: false
                                        }
                                    },
                                    xAxis: {
                                        type: 'time',
                                        splitLine: {
                                            show: false
                                        },
                                        axisLabel: {
                                            formatter: function(value, index) {
                                                // 格式化成月/日，只在第一个刻度显示年份
                                                var date = new Date(value);
                                                var texts = [(date.getMonth() + 1), date.getDate()];
                                                if (index === 0) {
                                                    texts.unshift(date.getYear());
                                                }
                                                return texts.join('-');
                                            }
                                        }

                                    },
                                    yAxis: {
                                        type: 'value',
                                        boundaryGap: [0, '100%'],
                                        splitLine: {
                                            show: false
                                        }
                                    },
                                    series: [
                                        {
                                            name: '诵经',
                                            type: 'line',
                                            data: songjing
                                        },
                                        {
                                            name: '念佛',
                                            type: 'line',
                                            data: nianfo
                                        },
                                        {
                                            name: '忏悔',
                                            type: 'line',
                                            data: chanhui
                                        }
                                    ]
                                };

                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                            </script>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod aw-mod-invite-friend">
                        <div class="mod-head common-head">
                            <h2>
                                <?php echo $this->user_info['user_name'] ?><?php _e('的功课统计'); ?>
                                <a href="lessons/list/" class="pull-right btn btn-mini btn-success">我的功课列表</a>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <div id="mymain" style="width: 600px;height:400px;"></div>
                            <div>*念佛数以千声为单位</div>
                            <script type="text/javascript">
                                var mylessons = <?php echo $this->mylessons; ?>;
                                var mysongjing = [];
                                var mynianfo = [];
                                var mychanhui = [],
                                        mydate,
                                        _;
                                for (var i in mylessons) {
                                    mydate = new Date("m-d",mylessons[i]['date']);
                                    _ = {
                                        name: mydate.toString(),
                                        value: [
                                            [mydate.getFullYear(), mydate.getMonth() + 1, mydate.getDate()].join('/'),
                                            mylessons[i]['songjing']
                                        ]
                                    };
                                    mysongjing.push(_);

                                    _ = {
                                        name: mydate.toString(),
                                        value: [
                                            [mydate.getFullYear(), mydate.getMonth() + 1, mydate.getDate()].join('/'),
                                            mylessons[i]['nianfo']
                                        ]
                                    };
                                    mynianfo.push(_);

                                    _ = {
                                        name: mydate.toString(),
                                        value: [
                                            [mydate.getFullYear(), mydate.getMonth() + 1, mydate.getDate()].join('/'),
                                            mylessons[i]['chanhui']
                                        ]
                                    };
                                    mychanhui.push(_);
                                }
                            </script>
                            <script type="text/javascript">

                                // 基于准备好的dom，初始化echarts实例
                                var mymyChart = echarts.init(document.getElementById('mymain'));

                                // 指定图表的配置项和数据
                                var myoption = {
                                    title: {
                                        text: ''
                                    },
                                    legend: {
                                        data:['诵经','念佛', '忏悔']
                                    },
                                    tooltip: {
                                        show : true,
                                        trigger: 'axis',
                                        formatter: function (params) {
                                            params = params[0];
                                            var date = new Date(params.name);
                                            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
                                        },
                                        axisPointer: {
                                            animation: false
                                        }
                                    },
                                    xAxis: {
                                        type: 'time',
                                        splitLine: {
                                            show: false
                                        }
                                    },
                                    yAxis: {
                                        type: 'value',
                                        boundaryGap: [0, '100%'],
                                        splitLine: {
                                            show: false
                                        }
                                    },
                                    series: [
                                        {
                                            name: '诵经',
                                            type: 'line',
                                            data: mysongjing
                                        },
                                        {
                                            name: '念佛',
                                            type: 'line',
                                            data: mynianfo
                                        },
                                        {
                                            name: '忏悔',
                                            type: 'line',
                                            data: mychanhui
                                        }
                                    ]
                                };

                                // 使用刚指定的配置项和数据显示图表。
                                mymyChart.setOption(myoption);
                            </script>
                        </div>
                    </div>

                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar">
                    <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function reset()
    {
        $('#lessons_add_form input').val('');
    }
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>