<?php TPL::output('global/header.tpl.htm'); ?>
<style>

    .msgtip {
        display: inline-flex;
        color: #d0d0d0;
        margin: 0 10px 0 2px;

    }

    .aw-item {
        margin: 5px;
        border-bottom: 1px solid #e6e6e6;
    }


</style>
<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod aw-mod-invite-friend">
                        <div class="mod-head common-head">
                            <h2>
                                <?php echo $this->user_info['user_name'] ?><?php _e('的功课列表'); ?>

                                <a href="lessons/record/" class="pull-right btn btn-mini btn-success">我要报功课</a>
                                <a href="lessons/statistic/" class="pull-right btn btn-mini btn-success">功课图</a>
                            </h2>
                        </div>
                         <?php foreach ($this->lessons as $k => $val) { ?>

                                <div class="aw-item" id="answer_list_<?php echo $val['id']; ?>">
                                    <div class="mod-head">
                                        <p>
                                            <?php echo preg_replace('#(\d{4})(\d{2})(\d{2})#', '$2月$3日', $val['date']) ?>的功课
                                            [<a href="lessons/edit/?id=<?=$val['id'] ?>"> 编辑 </a> ]
                                        </p>
                                    </div>
                                    <div class="mod-body">
                                        <div class="markitup-box">
                                            <div class="msgtip">诵经: </div><?=$val['songjing']?><div class="msgtip">部</div>
                                            <div class="msgtip">拜忏: </div><?=$val['chanhui']?><div class="msgtip">忏</div>
                                            <div class="msgtip">念佛: </div><?php if ($val['nianfoshichang']) { ?><?=$val['nianfoshichang']?><div class="msgtip">分钟</div><?php } else { ?><?=$val['nianfo']?><div class="msgtip">声</div><?php } ?>
                                            <?php if ($val['yuezangpin']) { ?>
                                            <div class="msgtip">阅藏: </div><?=$val['yuezangjing'] . "<div class='msgtip'>第 </div>" . $val['yuezangpin']?><div class="msgtip">品</div>
                                        <?php } ?>
                                        <?php if ($val['dizangchan']) { ?>
                                        <div class="msgtip">地藏禅: </div><?=$val['dizangchan'] ?><div class='msgtip'>分钟</div>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="mod-footer">
                                    <div class="meta">
                                        <span class="pull-right text-color-999"><?php echo date_friendly($val['add_time']); ?></span>
                                        获得<i class="icon icon-agree"></i> <?php echo $val['votes']; ?>个赞
                                    </div>
                                </div>
                        </div>
                                <?php } ?>


                        </div>
                    </div>

                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar">
                    <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>


<?php TPL::output('global/footer.tpl.htm'); ?>